body{
    background-color: rgb(73, 73, 73);
    font-family: vetica;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont{
    display: grid;
    grid-template-columns: 50% 50%;
}

.movie{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    color: white;
    margin: 15px;
    border-radius: 15px;
    font-size: 20px;
}
.movie:hover{
    cursor: pointer;
}
.movie>p{
    padding-left: 25px;
}
.movie>span{
    padding: 10px;
}

#image-cont{
    height: 450px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
#image-cont>img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}


#card-chin{
    background-color: rgb(48, 48, 48);
    height: 75px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}
button{
    background-color: rgb(84, 181, 233);
    border: 0px;
    padding: 15px;
    color: white;
    border-radius: 0px 100px 100px 0px;
    font-family: 'vetica';
}
button:hover{
    cursor: pointer;
}
input{
    padding: 15px;
    border: 0px;
    border-radius: 100px 0px 0px 100px;
    font-family: 'vetica';
    width: 250px;
    margin: 35px 0px 35px 0px;
}

h1{
    color: white;
}

.empty>h2{
    text-align: center;
    width: 225px;
}


@font-face {
    font-family: 'vetica';
    src: url('./cera.otf');
}
